body {
    background-color: #3A5D62;
    background-size: 100px;
    font-family: 'Consolas';
    color: white;
    white-space: nowrap;
  }

#screen {
    position: absolute;
    top: 7%;
    left: 8%;
    font-size: 1vw;
}


#pcdiv{
    position: absolute;
    width: 45%;
    height: 46vw;
    bottom: 1.5vw;
    left: 10px;
}

#pcimg{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#saturn{
    position: absolute;
    height: 7vw;
    bottom: 40vw;
    right: 10%;
}

#earth{
    position: absolute;
    height: 10vw;
    bottom: 30vw;
    right: 36%;
}

#eyes{
    position: absolute;
    bottom: 18.6vw;
    right: 17.5%;
    height: 4vw;
}

#bubblediv {
    position: absolute;
    width: 15%;
    bottom: 15vw;
    right: 28%;
    color: transparent;
    opacity: 0;
}

#bubbleimg{
    width: 100%;
}

#bubbletxt {
    text-align: left;
    position: absolute;
    font-size: 1vw;
    color: white;
    top: 34%;
    right: 20%;
}

#frog {
    position: fixed;
    width: 35%;
    bottom: 0px;
    right: 0px;
}

#mushroom {
    position: absolute;
    bottom: 1.5vw;
    right: 35%;
    height: 11vw;
}

.ground{
    position: fixed;
    bottom: 1vw;
    height: .13vw;
}

#ground {
    right: 25%;
    width: 80%;
}

#ground2 {
    left: 78.5%;
}

span {
    white-space: pre-line;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.us {
    animation: blinker 1s linear infinite;
}


@keyframes blinker {
    0% {opacity: 1}
    50% {opacity: 1} 
    51% {opacity: 0}
    100% {opacity: 0}
}


@keyframes rainbow{
    100%, 0%{
        filter: invert(10%) sepia(24%) saturate(4584%) hue-rotate(51deg) brightness(102%) contrast(116%);
    }
    25%{
        filter: invert(12%) sepia(94%) saturate(2695%) hue-rotate(105deg) brightness(110%) contrast(102%);
    }
    50%{
        filter: invert(27%) sepia(100%) saturate(4454%) hue-rotate(297deg) brightness(133%) contrast(119%);
    }
    75%{
        filter: invert(19%) sepia(100%) saturate(621%) hue-rotate(1deg) brightness(108%) contrast(98%);
    }
}

/*

@keyframes rainbow{
    100%,0%{
        filter: invert(26%) sepia(83%) saturate(7495%) hue-rotate(6deg) brightness(98%) contrast(112%);
    }
    8%{
        filter: invert(63%) sepia(89%) saturate(1030%) hue-rotate(353deg) brightness(95%) contrast(108%);
    }
    16%{
        filter: invert(85%) sepia(97%) saturate(5644%) hue-rotate(0deg) brightness(107%) contrast(98%);
    }
    25%{
        filter: invert(77%) sepia(100%) saturate(1820%) hue-rotate(17deg) brightness(106%) contrast(98%);
    }
    33%{
        filter: invert(74%) sepia(31%) saturate(5506%) hue-rotate(49deg) brightness(128%) contrast(98%);
    }
    41%{
        filter: invert(75%) sepia(91%) saturate(2048%) hue-rotate(99deg) brightness(103%) contrast(98%);
    }
    50%{
        filter: invert(94%) sepia(88%) saturate(6539%) hue-rotate(89deg) brightness(101%) contrast(98%);    
    }
    58%{
        filter: invert(75%) sepia(78%) saturate(3388%) hue-rotate(146deg) brightness(102%) contrast(106%);
    }
    66%{
        filter: invert(30%) sepia(100%) saturate(4340%) hue-rotate(214deg) brightness(97%) contrast(102%);
    }
    75%{
        filter: invert(21%) sepia(100%) saturate(7166%) hue-rotate(281deg) brightness(102%) contrast(114%);    
    }
    83%{
        filter: invert(22%) sepia(55%) saturate(4808%) hue-rotate(293deg) brightness(110%) contrast(131%);
    }
    91%{
        filter: invert(23%) sepia(89%) saturate(7496%) hue-rotate(316deg) brightness(100%) contrast(101%);
    }
}


/*
@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

*/