body {
    background-color: #3A5D62;
    background-size: 100px;
    font-family: 'Consolas';
    color: white;
  }

div {
    height: 100vh;
}

.us {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {opacity: 1}
    50% {opacity: 1} 
    51% {opacity: 0}
    100% {opacity: 0}
}

/*
h1 {
    color: #1f0;
    width: 100vw;
    font-size: 35vw;
}
*/