body {
    background-color: #3A5D62;
    background-size: 100px;
    font-family: 'Consolas';
    color: white;
    
  }

.bubble {
    position: absolute;
    bottom: 190px;
    right: 420px;
    color: transparent;
}

.bubbletxt {
    text-align: left;
    position: absolute;
    bottom: 243px;
    right: 450px;
}

.art {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

span {
    white-space: pre-line;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.us {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {opacity: 1}
    50% {opacity: 1} 
    51% {opacity: 0}
    100% {opacity: 0}
}

/*
h1 {
    color: #1f0;
    width: 100vw;
    font-size: 35vw;
}
*/