body {
    background-color: #3A5D62;
    background-size: 100px;
    font-family: 'Consolas';
    color: white;
    white-space: nowrap;
}

span {
    white-space: pre-line;
}

.title {
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    border:0px solid black;
    font-size: 50px;
}

.info {
    text-align: left;
    font-size: 23px
}

.dash {
    text-align: left;
    color: #C08497;
    margin-top: -10px;
    margin-bottom: -6px;
    font-weight: bold;
}

.border {
    text-align: left;
    color: #C08497;
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: bold;
}

.subtitle {
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    border:0px solid black;
    font-size: 21px;
}

.subsub {
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    border:0px solid black;
    font-size: 17px;
    color: #FFFAE3;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.us {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {opacity: 1}
    50% {opacity: 1} 
    51% {opacity: 0}
    100% {opacity: 0}
}
